@model LUIS_pizzaorder.Models.user

@{
    ViewBag.Title = "HomeStart";
}

<h2>Home</h2>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Agency Page Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">Welcome To Pizza Eats</h1>
                        <p class="text-center">If you would like to place an order with us through our bot, please click here to begin!</p>
                        
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <center>
                                        @Html.TextBox("String",null,new { style = "width: 900px;" }) <input type="submit" value="Enter" id="txt" placeholder="Naviagte Site Using Search Bar!" />
                                    </center>
                                   
                                </div>
                            </div>
                       
                        <p class="text-center">
                            <a class="btn btn-primary btn-lg" href="#" role="button"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>

    </section>
    <section>
        <div class="container">
            <div class="row"> </div>
        </div>
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                    <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="@Url.Content("~/Content/img/vector-signin.png")" data-holder-rendered="true">
                    <h3>Sign In</h3>
                    <p><a class="btn btn-link" @Html.ActionLink("Log In", "Login", "User") »</a></p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                    <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="@Url.Content("~/Content/img/vector-signUp.png")" data-holder-rendered="true">
                    <h3>Sign Up</h3>
                    <p><a class="btn btn-link" @Html.ActionLink("Register", "Registration", "User") »</a></p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                    <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="@Url.Content("~/Content/img/vector-checkout.png")" data-holder-rendered="true">
                    <h3>Place Order</h3>
                    <p><a class="btn btn-link" @Html.ActionLink("Place Order", "Index", "Home") »</a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
