@model JSONUtils.Query

@{
    ViewBag.Title = "Index";
}
<br />


<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @using (Html.BeginForm())
    {

    <div class="form-group">
        <div class="col-md-10">
            <h1>Size</h1>

            @Html.RadioButton("Size", "Small") Small
            <br />

            @Html.RadioButton("Size", "Medium") Medium
            <br />

            @Html.RadioButton("Size", "Large") large
            <br />
        </div>
        <div class="col-md-10">
            <h1>Topping</h1>
          
            @Html.RadioButton("Topping", "spinach") spinach
            <br />

            @Html.RadioButton("Topping", "olive") olive
            <br />

            @Html.RadioButton("Topping", "onion") onion
            <br />
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.TextBox("String", "",
               new { style = "width: 500px;" }) <input type="submit" value="chat" />
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Size,
       htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Size,
           new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Topping,
       htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Topping,
           new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
   
    <div class="form-group">
        @Html.LabelFor(model => model.Number,
       htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Number,
           new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>




</div>